<div class="container">
    <form [formGroup]="formularioCreado">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div *ngIf="formularioCreado.controls['nombre'].invalid && formularioCreado.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                <span *ngIf="formularioCreado.controls['nombre'].errors.required">
                    El nombre es requerido
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Correo</label>
            <input type="text" class="form-control" formControlName="correo">
            <div *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
                <div *ngIf="formularioCreado.controls['correo'].errors.required" class="alert alert-danger" role="alert">
                    El correo es requerido
                </div>
                <div *ngIf="formularioCreado.controls['correo'].errors.email" class="alert alert-danger" role="alert">
                    Correo no valido
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="formularioCreado.controls['password'].invalid && formularioCreado.controls['password'].dirty">
                <div *ngIf="formularioCreado.controls['password'].errors.required" class="alert alert-danger" role="alert">
                    La contraseña es requerida
                </div>
                <div *ngIf="formularioCreado.controls['password'].errors.minlength" class="alert alert-danger" role="alert">
                    La contraseña debe tener 8 caracteres
                </div>
            </div>
        </div>
        <button *ngIf="esNuevo" [disabled]="!formularioCreado.valid" class="btn btn-primary" (click)="agregar()">Agregar</button>
        <button *ngIf="!esNuevo" [disabled]="!formularioCreado.valid" class="btn btn-danger" (click)="editar()">Editar</button>
    </form>
</div>

<div class="container">
    <div *ngFor="let usu of usuarios; let pos=index">
        <br>
        <h4>Posición {{pos}}: {{usu.nombre}}</h4>
        <p>{{usu.correo}}</p>
        <p>{{usu.password}}</p>
        <button class="btn btn-success" (click)="editarUsuario(pos)">Editar persona</button>
        <button class="btn btn-dark" (click)="eliminarUsuario(pos)">Eliminar persona</button>
    </div>
</div>